<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>User</title>
</head>
<body>
<a class="btn btn-primary" th:href="@{/user/all}" role="button">Back</a>
<form th:method="PUT" th:object="${user}" th:action="@{/user/all}">
    <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
    <label >Name</label>
    <input type="text" th:field="*{name}" th:placeholder="${user.name}"/>
    <label >Surname</label>
    <input type="text" th:field="*{surname}" th:placeholder="${user.surname}"/>
    <label >Email</label>
    <input type="text" th:field="*{email}" th:placeholder="${user.email}"/>
    <label >Password</label>
    <input type="password" th:field="*{password}" th:placeholder="'&#9679;&#9679;&#9679;&#9679;&#9679;'"/>
    <label >Nickname</label>
    <input type="text" th:field="*{nickname}" th:placeholder="${user.nickname}"/>
    <label >Phone number</label>
    <input type="text" th:field="*{phoneNumber}" th:placeholder="${user.phoneNumber}"/>
    <label >Address</label>
    <input type="text" th:field="*{address}" th:placeholder="${user.address}"/>
<!--    <label >Birth date</label>-->
<!--    <input type="text" th:field="*{birthDate}" th:placeholder="${user.birthDate}"/>-->
    <label >Card number</label>
    <input type="text" th:field="*{cardNumber}" th:placeholder="${user.cardNumber}"/>
    <label >City</label>
    <input type="text" th:field="*{city}" th:placeholder="${user.city}"/>
    <label >Gender</label>
    <input type="text" th:field="*{gender}" th:placeholder="${user.gender}"/>
    <label >Phone number</label>
    <input type="text" th:field="*{language}" th:placeholder="${user.language}"/>
    <button>Submit</button>
</form>
</body>
</html>