<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/share/template.html}">
<head>
    <title>Admin dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div th:style="'text-align:center'">
        <img src="/images/in-progress.png" alt="This page is in progress"
             th:style="'width:35%;height:35%'"/>
        <br>
        <span>Sorry, this page is under construction</span>
    </div>
</div>
</body>
</html>