<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Рассылка</title>
</head>
<body>

<div layout:fragment="content">

    <!--SMS Mailing-->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">SMS</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="whomToSentSMS">Кому отправить?</label>
                        <div class="form-check" id="whomToSentSMS">
                            <div class="row">
                                <div class="col-4">
                                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" checked="">
                                    <label for="customRadio1" class="custom-control-label">Всем пользователей</label>
                                </div>
                                <div class="col-3">
                                    <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio">
                                    <label for="customRadio2" class="custom-control-label">Выборочно</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <a class="btn btn-tool btn-default" th:href="${'/admin/mailings/choose'}">Выбрать пользователей</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="smsText">Текст SMS</label>
                        <label for="smsText" class="float-right">Символов: 666</label>
                        <textarea class="form-control" rows="5" id="smsText"
                                  th:placeholder="'Введите текст'"></textarea>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-auto">
                            Кол-во SMS:
                        </div>
                        <div class="col-auto">
                            <a href="#">173 629</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            Рассылка выполнена на:
                        </div>
                        <div class="col-auto">
                            <a href="#">45%</a>
                        </div>
                        <div class="col-auto">
                            <a href="#">20 000</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-tool btn-default" href="#">Начать рассылку</a>
                </div>
            </div>
        </div>
    </div>

    <!--Email Mailing-->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">E-mail</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="whomToSentSMS">Кому отправить?</label>
                        <div class="form-check" id="whomToSentSMS">
                            <div class="row">
                                <div class="col-4">
                                    <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" checked="">
                                    <label for="customRadio1" class="custom-control-label">Всем пользователей</label>
                                </div>
                                <div class="col-3">
                                    <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio">
                                    <label for="customRadio2" class="custom-control-label">Выборочно</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <a class="btn btn-tool btn-default" th:href="${'/admin/mailings/choose'}">Выбрать пользователей</a>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <form th:method="PUT" th:object="${template}"
                                      th:action="*{'/admin/mailings/template/add/'}"
                                      enctype="multipart/form-data">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="template"
                                               accept=".html" required="">
                                        <label class="custom-file-label" for="template">Загрузить HTML-письмо</label>
                                        <button class="btn btn-default">Загрузить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${templates.size!=0}">
                    <div class="row" >
                        <div class="col">
                            <div class="form-group">
                                Загружен файл:
                                <a href="#" th:text="${lastTemplate.name}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                Шаблон используемый в текущей рассылке:
                                <a href="#" th:text="${lastTemplate.name}"></a>
                            </div>
                        </div>
                    </div>
                    </th:block>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                Кол-во писем:
                                <a href="#">173 629</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                Рассылка выполнена на:
                                <a href="#">45%</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col">
                                    Список последних загруженных шаблонов
                                </div>
                            </div>
                            <!--Iterator templates-->
                            <div class="row" th:each="template : ${templates}">
                                <div class="col-2">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                                <div class="col-8">
                                    <a href="#" th:text="${template.name}"></a>
                                </div>
                                <div class="col-2">
                                    <a class="btn-sm btn-danger" th:href="${'mailings/delete/' + template.id}"><i
                                            class="fas fa-minus"></i></a>
                                </div>
                            </div>
                            <!--end of Iterator templates-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a class="btn btn-tool btn-default" href="#">Начать рассылку</a>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>