<footer class="mt-auto border-top pt-md-3">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3">Мобильные приложения</small>
            <img class="mb-3" th:src="@{/images/swync-download-android-ios.png}" th:style="'width:100%'" alt="">
            <small class="d-block">Разработка сайтов</small>
            <small class="d-block mb-3">AVADA-MEDIA</small>
        </div>
        <div class="col-6 col-md">
            <h5>Афиша</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#">Расписание</a></li>
                <li><a href="#">Скоро в прокате</a></li>
                <li><a href="#">Кинотеатры</a></li>
                <li><a href="#">Акции</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О кинотеатре</h5>
            <ul class="list-unstyled text-small">
                <li><a href="#">Новости</a></li>
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Кафе-бар</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <i class="fab fa-facebook-f fa-2x me-1" style="color: #3b5998;"></i>
            <i class="fab fa-twitter fa-2x me-1" style="color: #55acee;"></i>
            <i class="fab fa-vk fa-2x me-1" style="color: #4c75a3;"></i>
            <i class="fab fa-odnoklassniki fa-2x me-1" style="color: #ffac44;"></i>
        </div>
    </div>
</footer>