<script src="/admin/js/jquery/jquery.min.js"></script>
<script src="/admin/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<!-- bs-custom-file-input -->
<script src="/admin/js/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mainImage').change(function () {
            showImageThumbnail(this);
            document.getElementById("thumbnail").style.display = 'inline';
            document.getElementById("uploaded").style.display = 'none';
        });
    });

    function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>

