<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/template/index.html}">
<head>
    <title>KinoCMS</title>
</head>
<body>
<div layout:fragment="content" th:object="${news}">
    <div class="row">
        <div class="col-12 pb-2" th:if="${!mainBanners.isEmpty()}">
            <div id="topBanner" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <th:block th:each="mainBanner : ${mainBanners}">
                        <div class="carousel-item active" th:if="${mainBanner.id==firstMainBanner}">
                            <img class="d-block w-100" th:src="${mainBanner.getImagePath()}"
                                 th:alt="${mainBanner.mainImage}">
                        </div>

                        <div class="carousel-item" th:if="${mainBanner.id&gt;firstMainBanner}">
                            <img class="d-block w-100" th:src="${mainBanner.getImagePath()}"
                                 th:alt="${mainBanner.mainImage}">
                        </div>
                    </th:block>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#topBanner" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#topBanner" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h2 th:text="${news.name}"></h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <img th:src="${news.getImagePath()}" th:style="'max-height:400px;width:100%'">
                </div>
                <div class="col-8">
                    <span th:text="${news.description}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
