<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/template/index.html}">
<head>
    <title>KinoCMS</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row mx-auto">
        <div class="col-auto">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        2D
                    </label>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        3D
                    </label>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        IMAX
                    </label>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <select class="custom-select">
                    <option selected>Кинотеатр</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <select class="custom-select">
                    <option selected>Дата</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <select class="custom-select">
                    <option selected>Фильм: все</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-group">
                <select class="custom-select">
                    <option selected>Зал: все</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-10">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Время</th>
                    <th scope="col">Фильм</th>
                    <th scope="col">Зал</th>
                    <th scope="col">Цена в грн.</th>
                    <th scope="col">Бронировать</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="currentMovie:${currentMovies}">
                    <td>10:00</td>
                    <td th:text="${currentMovie.name}"></td>
                    <td th:text="${currentMovie.id}"></td>
                    <td>65</td>
                    <td><a class="btn btn-sm mr-3 btn btn-success"
                           th:href="${'/booking/movie/current/' + currentMovie.id}">Забронировать</a></td>
                </tr>
                <tr th:each="currentMovie:${currentMovies}">
                    <td>20:00</td>
                    <td th:text="${currentMovie.name}"></td>
                    <td th:text="${currentMovie.id + 2}"></td>
                    <td>85</td>
                    <
                    <td><a class="btn btn-sm mr-3 btn btn-success"
                           th:href="${'/booking/movie/current/' + currentMovie.id}">Забронировать</a></td>
                </tr>
                <tr th:each="comingMovie:${comingMovies}">
                    <td>8:00</td>
                    <td th:text="${comingMovie.name}"></td>
                    <td th:text="${comingMovie.id}"></td>
                    <td>125</td>
                    <td><a class="btn btn-sm mr-3 btn btn-success"
                           th:href="${'/booking/movie/coming/' + comingMovie.id}">Забронировать</a></td>
                </tr>
                <tr th:each="comingMovie:${comingMovies}">
                    <td>13:00</td>
                    <td th:text="${comingMovie.name}"></td>
                    <td th:text="${comingMovie.id + 1}"></td>
                    <td>85</td>
                    <td><a class="btn btn-sm mr-3 btn btn-success"
                           th:href="${'/booking/movie/coming/' + comingMovie.id}">Забронировать</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <img th:src="@{/images/aside-ad.jpg}" th:style="'width:100%'">
        </div>
    </div>
</div>
<!--Dashboard charts JS-->
<script type="text/javascript">
    $(function () {

        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutData = {
            labels: [
                'Универсальный солдат',
                'Человек невидимка',
                'Терминатор',
                'Терминатор-2',
                'Москва слезам не верит',
                'Кунфу-Панда',
            ],
            datasets: [
                {
                    data: [700, 500, 400, 600, 300, 100],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                }
            ]
        }
        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'doughnut',
            data: donutData,
            options: donutOptions
        })
    })
</script>
<script type="text/javascript">
    $(function () {

        var barChartData = {
            labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль'],
            datasets: [
                {
                    label: 'Кинотеатр "Золотой Дюк"',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [2800, 4008, 4000, 1900, 8600, 2700, 9000]
                },
                {
                    label: 'Кинотеатр "Москва"',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [6500, 5900, 8000, 8100, 5600, 5500, 4000]
                },
            ]
        }

        var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
        var stackedBarChartData = $.extend(true, {}, barChartData)
        var temp0 = barChartData.datasets[0]
        var temp1 = barChartData.datasets[1]
        barChartData.datasets[0] = temp1
        barChartData.datasets[1] = temp0

        var stackedBarChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }

        new Chart(stackedBarChartCanvas, {
            type: 'bar',
            data: stackedBarChartData,
            options: stackedBarChartOptions
        })
    })
</script>
<script type="text/javascript">
    $(function () {

        var pieData = {
            labels: [
                'Мужчины',
                'Женщины',
            ],
            datasets: [
                {
                    data: [40, 60],
                    backgroundColor: ['#00a65a', '#00c0ef'],
                }
            ]
        }

        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieOptions = {
            maintainAspectRatio: false,
            responsive: true,
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        })
    })
</script>
</body>
</html>