<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}" lang="en">
<head>
    <title>Добавляем пользователя</title>
</head>
<body>
<div layout:fragment="content">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <h1 class="m-0"><i class="fas fa-user-plus"></i> Добавляем пользователя</h1>
                </div>
                <div>
                    <div class="page-title-subheading">
                        <a th:href="@{/admin/users}">Отменить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form th:method="POST" th:object="${user}" th:action="@{/admin/users/add}">
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationName">Имя</label>
                <input type="text" class="form-control" id="validationName" th:placeholder="Имя"
                       th:field="*{name}" required="">
                <div class="invalid-feedback">
                    Введите имя
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationSurname">Фамилия</label>
                <input type="text" class="form-control" id="validationSurname" th:placeholder="Фамилия"
                       th:field="*{surname}" required="">
                <div class="invalid-feedback">
                    Введите фамилию
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationEmail">Эл.почта</label>
                <input type="text" class="form-control" id="validationEmail" th:placeholder="Email"
                       th:field="*{email}" required="">
                <div class="invalid-feedback">
                    Введите эл.почту
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationName">Псевдоним</label>
                <input type="text" class="form-control" id="validationNickname" th:placeholder="Псевдоним"
                       th:field="*{nickname}">
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationPassword">Пароль</label>
                <input type="password" class="form-control" id="validationPassword" th:placeholder="Пароль"
                       th:field="*{password}" required="">
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationPasswordRepeat">Повторите пароль</label>
                <input type="password" class="form-control" id="validationPasswordRepeat" th:placeholder="Пароль"
                       required="">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationDob">Дата рождения</label>
                <input type="date" class="form-control" id="validationDob"
                       th:field="*{birthday}">
            </div>
            <div class="col-md-6 mb-2">
                <label for="validationAddress">Адрес</label>
                <input type="text" class="form-control" id="validationAddress" th:placeholder="Адрес"
                       th:field="*{address}">
            </div>
            <div class="col-md-2 mb-2">
                <label for="validationCity">Город</label>
                <select type="text" class="form-control" id="validationCity" th:field="*{city}">
                    <option th:value="'Odessa'" th:text="Одесса" th:selected="${user.city}"></option>
                    <option th:value="'Kiev'" th:text="Киев"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="validationPhoneNumber">Телефон</label>
                <input type="text" class="form-control" id="validationPhoneNumber" th:placeholder="Телефон"
                       th:field="*{phoneNumber}" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;"
                       data-mask="" inputmode="text">
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationCardNumber">Номер карты</label>
                <input type="text" class="form-control" id="validationCardNumber" th:placeholder="Номер-карты"
                       th:field="*{cardNumber}">
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationGender">Пол</label>
                <select name="select" id="validationGender" class="form-control" th:field="*{gender}">
                    <option th:value="'M'" th:text="Мужской" th:selected="${user.gender}"></option>
                    <option th:value="'F'" th:text="Женский"></option>
                </select>
            </div>
            <div class="col-md-4 mb-2">
                <label for="validationLanguage">Язык</label>
                <select name="select" id="validationLanguage" class="form-control" th:field="*{language}">
                    <option th:value="'RU'" th:text="Русский" th:selected="${user.language}"></option>
                    <option th:value="'UA'" th:text="Украинский"></option>
                </select>
            </div>
        </div>
        <button class="btn mr-2 btn btn-warning">Добавить</button>
    </form>
</div>

</body>
</html>
