<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Change User</title>
</head>
<body>

<a class="btn btn-primary" th:href="@{/templates/admin/users}" role="button">Back</a>

<form th:method="PUT" th:object="${user}" th:action="@{/admin/users/update}">
    <h4>Update user</h4>
    <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
    <label >Name</label>
    <input type="text" th:field="*{name}" th:placeholder="${user.name}"/>
    <label >Surname</label>
    <input type="text" th:field="*{surname}" th:placeholder="${user.surname}"/>
    <label >Email</label>
    <input type="text" th:field="*{email}" th:placeholder="${user.email}"/>
    <label >Password</label>
    <input type="password" th:field="*{password}" th:placeholder="'&#9679;&#9679;&#9679;&#9679;&#9679;'"/>
    <label >Nickname</label>
    <input type="text" th:field="*{nickname}" th:placeholder="${user.nickname}"/>
    <label >Phone number</label>
    <input type="text" th:field="*{phoneNumber}" th:placeholder="${user.phoneNumber}"/>
    <label >Address</label>
    <input type="text" th:field="*{address}" th:placeholder="${user.address}"/>
    <label >Birth date</label>
    <input type="text" th:field="*{dob}" th:placeholder="${user.dob}"/>
    <label >Card number</label>
    <input type="text" th:field="*{cardNumber}" th:placeholder="${user.cardNumber}"/>
    <label >City</label>
    <select th:field="*{city}">
        <option th:value="'Odessa'" th:text="Одесса" th:selected="${user.city}"></option>
        <option th:value="'Kiev'" th:text="Киев"></option>
    </select>
    <label >Gender</label>
    <select th:field="*{gender}">
        <option th:value="'M'" th:text="Муж." th:selected="${user.gender}"></option>
        <option th:value="'F'" th:text="Жен."></option>
    </select>
    <label >Language</label>
    <select th:field="*{language}">
        <option th:value="'RU'" th:text="Русский" th:selected="${user.language}"></option>
        <option th:value="'UA'" th:text="Украинский"></option>
    </select>
    <button>Submit</button>
</form>
</body>
</html>