<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Обновляем фильм</title>
</head>
<body>
<div layout:fragment="content">
    <form th:method="PUT" th:object="${comingMovie}" th:action="@{/admin/movies/coming/update}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${comingMovie.id}"/>
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill"
                   href="#custom-tabs-two-home" role="tab" aria-controls="custom-tabs-two-home"
                   aria-selected="true">Фильм</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill"
                   href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile"
                   aria-selected="false">Доп. информация</a>
            </li>
            <li class="nav-item">
                <span class="nav-link" th:text="${comingMovie.id}"></span>
            </li>
        </ul>

        <div class="card-body">
            <div class="tab-content" id="custom-tabs-two-tabContent">
                <div class="tab-pane fade show active" id="custom-tabs-two-home" role="tabpanel"
                     aria-labelledby="custom-tabs-two-home-tab">
                    <!--Main face-->
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="movieName">Название фильма</label>
                                        <input type="text" class="form-control" id="movieName"
                                               th:placeholder="'Название фильма'"
                                               th:field="*{name}">
                                    </div>

                                    <div class="form-group">
                                        <label for="movieTrailerUrl">Ссылка на трейлер</label>
                                        <input type="text" class="form-control" id="movieTrailerUrl"
                                               th:placeholder="'Ссылка на трейлер'"
                                               th:field="*{trailerUrl}">
                                    </div>

                                </div>

                                <div class="col-md-4 mb-2">

                                    <div class="form-group">
                                        <label for="mainImage">Баннер</label>
                                        <div class="custom-file">
                                            <input type="file" name="image" class="custom-file-input" id="mainImage"
                                                   accept="image/png, image/jpeg" required="">
                                            <label class="custom-file-label" for="mainImage">Выберите
                                                картинку</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="movieType">Тип кино</label>
                                        <div class="form-check" id="movieType">
                                            <div class="row">
                                                <!--  <div class="col-4" th:each="movieType: ${movieTypes}">-->
                                                <!--  <input class="form-check-input" type="checkbox"-->
                                                <!--   th:text="${movieType.type}"-->
                                                <!--   th:field="${movieTypes}" th:value="${movieType.id}">-->
                                                <!--  </div>-->
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-2 text-center">
                                    <label for="thumbnail">Предпросмотр баннера</label><br>
                                    <img style="max-height: 130px" id="thumbnail"
                                         alt=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="movieDescription">Описание</label>
                                        <textarea class="form-control" rows="3" id="movieDescription"
                                                  th:placeholder="Описание"
                                                  th:field="*{description}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Image gallery-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold ">Галерея картинок</h3>
                        </div>
                        <div class="card-body pt-2">
                            <div class="row">
                                <div class="col-12">
                                    <span>Размер: 1000x190</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2" th:each="image : ${imageList}">
                                    <div class="row">
                                        <div class="col text-center">
                                            <img th:src="${image.name}" th:style="'width:100px; height:100px'"
                                                 alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center">
                                            <h5 th:text="${image.name}"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Seo block-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold ">SEO блок</h3>
                        </div>
                        <div class="card-body pt-2" th:object="${seo}">
                            <div class="row">
                                <div class="col-4">
                                    <label for="seoURL">URL</label>
                                    <input type="text" class="form-control" id="seoURL" th:placeholder="URL"
                                           th:field="*{url}">
                                </div>
                                <div class="col-4">
                                    <label for="seoTitle">Title</label>
                                    <input type="text" class="form-control" id="seoTitle" th:placeholder="Title"
                                           th:field="*{title}">
                                </div>
                                <div class="col-4">
                                    <label for="seoKeywords">Keywords</label>
                                    <input type="text" class="form-control" id="seoKeywords"
                                           th:placeholder="Keywords"
                                           th:field="*{keywords}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="seoDescription">Description</label>
                                    <textarea class="form-control" rows="3" id="seoDescription"
                                              placeholder="Description"
                                              spellcheck="false" th:field="*{seoDescription}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Action button-->
                    <div class="row">
                        <div class="col-12 text-center pb-3">
                            <button class="btn btn-lg mr-3 btn btn-success">Сохранить</button>
                            <a class="btn btn-lg mr-3 btn btn-danger"
                               th:href="@{'/admin/movies/coming/delete/' + ${comingMovie.id}}">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="custom-tabs-two-profile" role="tabpanel"
                     aria-labelledby="custom-tabs-two-profile-tab" th:object="${movieInfo}">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="year">Год</label>
                                <input type="text" class="form-control" id="year"
                                       th:placeholder="'Год'"
                                       th:field="*{year}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="country">Страна</label>
                                <input type="text" class="form-control" id="country"
                                       th:placeholder="'Страна'"
                                       th:field="*{country}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="compositor">Композитор</label>
                                <input type="text" class="form-control" id="compositor"
                                       th:placeholder="'Композитор'"
                                       th:field="*{compositor}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="producer">Продюсер</label>
                                <input type="text" class="form-control" id="producer"
                                       th:placeholder="'Продюсер'"
                                       th:field="*{producer}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="director">Режиссер</label>
                                <input type="text" class="form-control" id="director"
                                       th:placeholder="'Режиссер'"
                                       th:field="*{director}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="operator">Оператор</label>
                                <input type="text" class="form-control" id="operator"
                                       th:placeholder="'Оператор'"
                                       th:field="*{operator}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="screenwriter">Сценарист</label>
                                <input type="text" class="form-control" id="screenwriter"
                                       th:placeholder="'Сценарист'"
                                       th:field="*{screenwriter}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="genre">Жанр</label>
                                <input type="text" class="form-control" id="genre"
                                       th:placeholder="'Жанр'"
                                       th:field="*{genre}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="budget">Бюджет</label>
                                <input type="text" class="form-control" id="budget"
                                       th:placeholder="'Бюджет'"
                                       th:field="*{budget}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="ageRestriction">Возраст</label>
                                <input type="text" class="form-control" id="ageRestriction"
                                       th:placeholder="'Возраст'"
                                       th:field="*{ageRestriction}">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label for="time">Время</label>
                                <input type="text" class="form-control" id="time"
                                       th:placeholder="'Время'"
                                       th:field="*{time}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>
