<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/share/template.html}">
<head>
    <title>KinoCMS</title>
</head>
<body>
<div layout:fragment="content">
    <div th:style="'text-align:center; margin-top:50px;'">
        <img src="/images/in-progress.png" alt="This page is in progress"
             th:style="'width:20%;height:20%'"/>
        <br>
        <span>Sorry, this page is under construction</span>
    </div>
    </main>
</div>
</div>
</body>
</html>