<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Обновляем новость</title>
</head>
<body>
<div layout:fragment="content">
    <form th:method="PUT" th:object="${news}" th:action="*{'/admin/news/update/' + id}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{seo.id}"/>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="newsName">Название новости</label>
                    <input type="text" class="form-control" id="newsName" th:placeholder="'Название новости'"
                           th:field="*{name}" required="">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="publishDate">Дата публикации</label>
                    <input type="date" class="form-control" id="publishDate" th:field="*{publishDate}">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="status">Статус</label><br>
                    <input type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Включено" data-off="Выключено" id="status" th:field="*{status}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea class="form-control" rows="3" id="description" th:placeholder="Описание"
                              th:field="*{description}"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="movieTrailerUrl">Ссылка на трейлер</label>
                    <input type="text" class="form-control" id="movieTrailerUrl"
                           th:placeholder="'Ссылка на трейлер'"
                           th:field="*{trailerUrl}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="mainImage">Главная картинка</label>
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="mainImage"
                               accept="image/png, image/jpeg" required="">
                        <label class="custom-file-label" for="mainImage">Выберите картинку</label>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="form-group">
                    <label for="thumbnail">Предпросмотр главной картинки</label><br>
                    <img style="max-height: 130px" id="thumbnail" alt=""/>
                </div>
            </div>
        </div>

        <!--Image gallery-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold ">Галерея картинок</h3>
                <div class="card-tools">
                    <a class="btn btn-tool btn-success" href="#"><i class="fas fa-plus-square"></i></a>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row">
                    <div class="col-12">
                        <span>Размер: 1000x190</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" th:each="image : ${news.images}">
                        <div class="row">
                            <div class="col text-center">
                                <img th:src="${image.getImagePath()}" th:style="'width:100px; height:100px'"
                                     alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" name="galleryImages"
                                               class="custom-file-input" id="galleryImage"
                                               accept="image/png, image/jpeg">
                                        <label class="custom-file-label" for="galleryImage">Выберите
                                            картинку</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Seo block-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold ">SEO блок</h3>
            </div>
            <div class="card-body pt-2">
                <div class="row">
                    <div class="col-4">
                        <label for="seoURL">URL</label>
                        <input type="text" class="form-control" id="seoURL" th:placeholder="URL"
                               th:field="*{seo.url}">
                    </div>
                    <div class="col-4">
                        <label for="seoTitle">Title</label>
                        <input type="text" class="form-control" id="seoTitle" th:placeholder="Title"
                               th:field="*{seo.title}">
                    </div>
                    <div class="col-4">
                        <label for="seoKeywords">Keywords</label>
                        <input type="text" class="form-control" id="seoKeywords" th:placeholder="Keywords"
                               th:field="*{seo.keywords}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="seoDescription">Description</label>
                        <textarea class="form-control" rows="3" id="seoDescription" placeholder="Description"
                                  name="description" spellcheck="false" th:field="*{seo.description}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--Action button-->
        <div class="row">
            <div class="col-12 text-center pb-3">
                <button class="btn btn-lg mr-3 btn btn-success">Сохранить</button>
                <a class="btn btn-lg mr-3 btn btn-danger" th:href="*{'/admin/news/delete/' + id}">Удалить</a>
            </div>
        </div>

    </form>
</div>

</body>
</html>
