<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Изменяем главный баннер</title>
</head>
<body>
<div layout:fragment="content">
    <form th:method="PUT" th:object="${mainBanner}" th:action="@{/admin/banners/main/update}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${mainBanner.id}"/>

        <div class="row">
            <div class="col-4">

                <div class="form-group">
                    <label for="mainImage">Баннер</label>
                    <div class="custom-file">
                        <input type="file" name="mainImage" class="custom-file-input" id="mainImage"
                               accept="image/png, image/jpeg" required="">
                        <label class="custom-file-label" for="mainImage">Выберите картинку</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="URL">URL</label>
                    <input type="text" class="form-control" id="URL" th:placeholder="URL"
                           th:field="*{url}">
                </div>

                <div class="form-group">
                    <label for="Text">Текст</label>
                    <input type="text" class="form-control" id="Text" th:placeholder="Текст"
                           th:field="*{text}">
                </div>
            </div>
            <div class="col-8 text-center">
                <label for="thumbnail">Banner Preview</label><br>
                <img style="max-width: 200px" id="thumbnail" alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center pb-3">
                <button class="btn btn-lg mr-3 btn btn-warning">Добавить</button>
                <a class="btn btn-lg mr-3 btn btn-secondary" th:href="@{/admin/banners}">Отменить</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>