<div class="container">
    <div class="row my-2">
        <div class="col-2">
            <img th:src="@{/images/logo.png}" th:style="'width:85px;height:75px'" class="img-fluid" alt="..."/>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div class="container-fluid col-4">*SOCIAL ICONS*</div>
                <div class="col-3">
                    <span>067-555-44-33</span><br>
                    <span>067-555-44-33</span>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="">Афиша</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Скоро</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Кинотеатры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Акции</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                О кинотеатре
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="" class="dropdown-item">Новости</a></li>
                                <li><a href="" class="dropdown-item">Реклама</a></li>
                                <li><a href="" class="dropdown-item">Кафе</a></li>
                                <li><a href="" class="dropdown-item">Мобильные приложения</a></li>
                                <li><a href="" class="dropdown-item">Контакты</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLanguage" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Язык
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="" class="dropdown-item">Рус</a></li>
                                <li><a href="" class="dropdown-item"
                                       data-content='<span class="flag-icon flag-icon-ua"></span> Укр'>Укр</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>