<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}" lang="en">
<head>
    <title>Добавляем фильм</title>
</head>
<body>
<div layout:fragment="content">

    <form th:method="POST" th:object="${currentMovie}" th:action="@{/admin/movies/current/add}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${currentMovie.id}"/>
        <br>
        <div class="row">

            <div class="col-md-4 mb-2">

                <div class="form-group">
                    <label for="fileImage">Баннер</label>
                    <div class="custom-file">
                        <input type="file" name="fileImage" class="custom-file-input" id="fileImage"
                               accept="image/png, image/jpeg" required="">
                        <label class="custom-file-label" for="fileImage">Выберите картинку</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="validationURL">Название фильма</label>
                    <input type="text" class="form-control" id="validationURL" th:placeholder="'Название фильма'"
                           th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="validationText">Ссылка на трейлер</label>
                    <input type="text" class="form-control" id="validationText" th:placeholder="'Ссылка на трейлер'"
                           th:field="*{trailerUrl}">
                </div>

            </div>
            <div class="col-md-8 mb-2 text-center">
                <label for="thumbnail">Movie Banner Preview</label><br>
                <img style="max-height: 200px; display: none" id="thumbnail" alt="Movie Banner Preview"/>
            </div>
        </div>

        <div class="row-12">
            <div class="form-group">
                <label for="validationText">Описание</label>
                <textarea class="form-control" rows="3" id="validationText" th:placeholder="Описание"
                          th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="row-12 text-left">
            <span>Размер: 1000x190</span>
        </div>

        <div class="row col-12">

            <th:block th:each="image : ${imageList}">
                <div class="col-3 d-flex">
                    <table class="table table-bordered text-center">
                        <tr>
                            <td colspan="2">
                                <img th:src="#" th:style="'width:100px; height:100px'">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="#"
                                   class="btn btn-block btn-warning">Обновить</a>
                            </td>
                            <td>
                                <a th:href="#"
                                   class="btn btn-block btn-danger">Удалить</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </th:block>
            <div class="col-1 d-flex">
                <table class="table table-bordered text-center">
                    <tr>
                        <td rowspan="2" style="vertical-align : middle;text-align:center;">
                            <a href="#" class="btn btn-sm btn-block btn-info">Добавить</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row-12 text-center">
            <button class="btn btn-lg mr-3 btn btn-success">Добавить</button>
            <a class="btn btn-lg mr-3 btn btn-secondary" th:href="@{/admin/movies}">Отменить</a>
        </div>
    </form>
</div>

</body>
</html>
