<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Фильмы</title>
</head>
<body>

<div layout:fragment="content">
    <!--Current Movie List-->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Список текущих фильмов</h3>
            <div class="card-tools">
                <a class="btn btn-tool btn-success" href="movies/current/add"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3" th:each="currentMovie : ${currentMovies}">
                    <div class="row ">
                        <div class="col text-right">
                            <a th:href="${'movies/current/delete/' + currentMovie.id}"
                               class="btn-sm btn-danger"><i class="fas fa-minus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a th:href="${'movies/current/update/' + currentMovie.id}">
                                <img th:src="${currentMovie.getImagePath()}" th:style="'width:75%'">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center font-weight-bold">
                            <h5 th:text="${currentMovie.name}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Coming Movie List-->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Список фильмов ожидающие проката</h3>
            <div class="card-tools">
                <a class="btn btn-tool btn-success" href="movies/coming/add"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3" th:each="comingMovie : ${comingMovies}">
                    <div class="row">
                        <div class="col text-right">
                            <a th:href="${'movies/coming/delete/' + comingMovie.id}"
                               class="btn-sm btn-danger"><i class="fas fa-minus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a th:href="${'movies/coming/update/' + comingMovie.id}">
                                <img th:src="${comingMovie.getImagePath()}" th:style="'width:75%'">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <h5 th:text="${comingMovie.name}"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>