<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}" lang="en">
<head>
    <title>Баннеры</title>
</head>
<body>

<div layout:fragment="content">
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список текущих фильмов</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: block;">
            <div class="row col-12">
                <th:block th:each="currentMovie : ${currentMovies}">
                    <div class="col-3 d-flex">
                        <table class="table table-bordered text-center">
                            <tr>
                                <td colspan="2">
                                    <img th:src="${currentMovie.getImagePath()}" th:style="'width:100px; height:100px'">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 th:text="${currentMovie.name}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="${'movies/current/update/' + currentMovie.id}"
                                       class="btn btn-block btn-warning">Обновить</a>
                                </td>
                                <td>
                                    <a th:href="${'movies/current/delete/' + currentMovie.id}"
                                       class="btn btn-block btn-danger">Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th:block>
                <div class="col-1 d-flex">
                    <table class="table table-bordered text-center">
                        <tr>
                            <td rowspan="2" style="vertical-align : middle;text-align:center;">
                                <a href="movies/current/add" class="btn btn-block btn-success">Добавить</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список фильмов ожидающие проката</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: block;">
            <div class="row col-12">
                <th:block th:each="comingMovie : ${comingMovies}">
                    <div class="col-3 d-flex">
                        <table class="table table-bordered text-center">
                            <tr>
                                <td colspan="2">
                                    <img th:src="${comingMovie.getImagePath()}" th:style="'width:100px; height:100px'">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h5 th:text="${comingMovie.name}"></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="${'movies/coming/update/' + comingMovie.id}"
                                       class="btn btn-block btn-warning">Обновить</a>
                                </td>
                                <td>
                                    <a th:href="${'movies/coming/delete/' + comingMovie.id}"
                                       class="btn btn-block btn-danger">Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </th:block>
                <div class="col-1 d-flex">
                    <table class="table table-bordered text-center">
                        <tr>
                            <td rowspan="3" style="vertical-align : middle;text-align:center;">
                                <a href="movies/coming/add" class="btn btn-block btn-success">Добавить</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <br>

</div>

</body>
</html>