<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/template/index.html}">
<head>
    <title>Обновляем кинотеатр</title>
</head>
<body>
<div layout:fragment="content">
    <form th:method="PUT" th:object="${cinema}" th:action="@{/admin/cinemas/update}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${cinema.id}"/>

        <!--Main face-->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Название кинотеатра</label>
                            <input type="text" class="form-control" id="name"
                                   th:placeholder="'Название кинотеатра'" th:field="*{name}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Description">Описание</label>
                            <textarea class="form-control" rows="3" id="Description" th:placeholder="Описание"
                                      th:field="*{description}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="conditions">Условия</label>
                            <textarea class="form-control" rows="3" id="conditions" th:placeholder="Условия"
                                      th:field="*{conditions}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="mainImage">Логотип</label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" id="mainImage"
                                       accept="image/png, image/jpeg" required="">
                                <label class="custom-file-label" for="mainImage">Выберите картинку</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="topBanner">Фото вверхенго баннера</label>
                            <div class="custom-file">
                                <input type="file" name="image2" class="custom-file-input" id="topBanner"
                                       accept="image/png, image/jpeg" required="">
                                <label class="custom-file-label" for="topBanner">Выберите картинку</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Image gallery-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold ">Галерея картинок</h3>
            </div>
            <div class="card-body pt-2">
                <div class="row">
                    <div class="col-12">
                        <span>Размер: 1000x190</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex" th:each="image : ${imageList}">
                        <table class="table table-bordered text-center">
                            <tr>
                                <td colspan="2">
                                    <img th:src="#" th:style="'width:100px; height:100px'">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a th:href="#"
                                       class="btn btn-warning">Обновить</a>
                                </td>
                                <td>
                                    <a th:href="#"
                                       class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Cinema Halls block-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold">Список кинозалов</h3>
                <div class="card-tools">
                    <a class="btn btn-tool btn-success" th:href="${cinema.id + '/halls/add'}"><i
                            class="fas fa-plus-square"></i></a>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row pt-2">
                    <div class="col-12">
                        <table class="table table-bordered text-center" th:if="${!cinemaHalls.isEmpty()}">
                            <thead>
                            <tr>
                                <th>Названиие</th>
                                <th>Дата создания</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cinemaHall,iterator : ${cinemaHalls}">
                                <td th:text="${cinemaHall.number}"></td>
                                <td th:text="${#dates.format(cinemaHall.createdDate,'dd.MM.yyyy')}"></td>
                                <td><a th:href="${cinema.id + '/halls/update/' + cinemaHall.id}"><i
                                        class="fas fa-edit"></i></a></td>
                                <td><a th:href="${cinema.id +'/halls/delete/' + cinemaHall.id}"><i
                                        class="fas fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Seo block-->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-bold ">SEO блок</h3>
            </div>
            <div class="card-body pt-2" th:object="${seo}">
                <div class="row">
                    <div class="col-4">
                        <label for="seoURL">URL</label>
                        <input type="text" class="form-control" id="seoURL" th:placeholder="URL"
                               th:field="*{url}">
                    </div>
                    <div class="col-4">
                        <label for="seoTitle">Title</label>
                        <input type="text" class="form-control" id="seoTitle" th:placeholder="Title"
                               th:field="*{title}">
                    </div>
                    <div class="col-4">
                        <label for="seoKeywords">Keywords</label>
                        <input type="text" class="form-control" id="seoKeywords" th:placeholder="Keywords"
                               th:field="*{keywords}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="seoDescription">Description</label>
                        <textarea class="form-control" rows="3" id="seoDescription" placeholder="Description"
                                  name="description" spellcheck="false" th:field="*{seoDescription}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--Action button-->
        <div class="row">
            <div class="col-12 text-center pb-3">
                <button class="btn btn-lg mr-3 btn btn-success">Сохранить</button>
                <a class="btn btn-lg mr-3 btn btn-danger"
                   th:href="@{'/admin/cinemas/delete/' + ${cinema.id}}">Удалить</a>
            </div>
        </div>

    </form>
</div>

</body>
</html>
